/* Calligraphy Font Style */
.calligraphy-font {
  font-family: 'Sabrina', cursive !important;
     font-size: 4rem;
     color: #1a1a1a;;
     font-weight: bold;
     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
